*{
    margin:0;
    padding:0;
}

:root{
    --bodyfont: 'Titilium Web', sans-serif;
}

h1{
    font-family: var(--bodyfont);
    letter-spacing: 2px;
    font-size:3rem;
}

h2{
    font-family: var(--bodyfont);
    letter-spacing: 2px;
    font-size: 2rem;
    margin:3rem;
}



img{
    display:block;
    max-width: 100%;
}



