.grid-container{
    width:100vw;
    height:100vh;
    max-width: 100%;
    display: grid;
    grid-template: 'nav'
                   'content'
                   'footer';
    grid-template-columns: auto;
    grid-template-rows: 8vh auto 8vh;
}

nav{
    grid-area: nav;
}

.content{
    grid-area: content;
    background: url('../../images/about/content-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}


.content > div{
    width:30%;
    margin-left:20rem;
    background-color:#FAE8D6;
    padding:3rem;
    margin-top:2rem;
    border-radius: 5px;
    box-shadow: -2rem 2rem rgba(0, 0, 0, 0.308);
}

.content > div h1{
    text-align: center;
}

.content > div p {
    font-size:1.2rem;
    line-height: 2rem;
    text-align: justify;
    font-family: var(--bodyfont);
}

.content > div p:nth-of-type(2n + 2){
    margin-top:1rem;
}

footer{
    grid-area:footer;
}

@media screen and (max-width:768px) {
    .content > div{
        width:100%;
        margin-left:0;
        box-shadow: none;
    }
}